<!DOCTYPE html>
<html lang="en">
<head>

    <title>写文章</title>
    <%- include head %>
</head>
<body>
    <%- include('bar',{username:username}) %>
    <%- include('passage',{item:item}) %>



</body>
</html>